<% provide(:title, 'Game index') %>
<h1>試合結果一覧</h1>

<div class="col-md-8 col-md-offset-2">
  <table class="table table-condensed table-hover" id="table-games">
    <thead>
      <tr>
        <th>日付</th>
        <th>大会名</th>
        <th>対戦相手</th>
        <th>勝敗</th>
        <th></th>
      </tr>
    </thead>

    <% @games.each do |game| %>
      <tr>
        <td><%= game.game_day%></td>
        <td><%= game.tournament %></td>
        <td><%= game.opponent %></td>
        <td><%= game.result %></td>
        <td><%= link_to "詳細", game_path(game.id), class: "btn btn-info" %></td>
      </tr>
    <% end %>
  </table>
</div>