<% provide(:title, 'Game new') %>
<h1>試合結果の登録</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= form_with(model: @game, local: true) do |f| %>
                
    <%= f.label :game_day, class: "label-game--new" %><br>
    <%= f.date_select :game_day, class: "form-control" %><br>

    <%= f.label :stadium, class: "label-game--new" %>
    <%= f.text_field :stadium, class: "form-control" %>

    <%= f.label :tournament, class: "label-game--new" %>
    <%= f.text_field :tournament, class: "form-control" %>

    <%= f.label :opponent, class: "label-game--new" %>
    <%= f.text_field :opponent, class: "form-control" %>

    <%= f.label :started_at, class: "label-game--new" %><br>
    <%= f.time_select :started_at, class: "form-control" %><br>

    <%= f.label :finished_at, class: "label-game--new" %><br>
    <%= f.time_select :finished_at, class: "form-control" %><br>

    <%= f.label :batting_fielding, class: "label-game--new" %>
    <%= f.select :batting_fielding, {'先攻': '先攻', '後攻': '後攻'}, {include_blank: '選択してください'}, { class: "form-control", required: true } %>

    <%= f.label :my_score, class: "label-game--new" %>
    <%= f.text_field :my_score, class: "form-control" %>

    <%= f.label :opponent_score, class: "label-game--new" %>
    <%= f.text_field :opponent_score, class: "form-control" %>

    <%= f.label :result, class: "label-game--new" %>
    <%= f.select :result, {'勝': '勝', '負': '負', '引き分け': '引き分け'}, {include_blank: '選択してください'}, { class: "form-control", required: true } %>

    <%= f.submit "登録", class: "btn btn-primary btn-block btn-game--new" %>
  <% end %>
  </div>
</div>