<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Attendance App", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Top", root_path %></li>
        <li><%= link_to "Log in", new_user_session_path %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <li><%= link_to "ユーザー情報の編集", edit_user_registration_path %></li>
      </ul>
    </nav>
  </div>
</header>